@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Sigmar&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
    box-shadow: 0 10px 23px rgba(0, 0, 0, 0.2);
    /* background-color: #d5a7a7ca; */
    background-color: rgba(255, 105, 180, 0.685);
}

.book-container {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.book {
    background-color:rgba(255, 105, 180, 0.685);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 3rem;
}

.book h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 28px;
    
}

.book p {
    color: #666;
    font-size: 17px;
    margin-bottom: 3px;
    font-weight: 300;
}